

<ion-content>
  <ion-card class="cardMiCred">
    <ion-card-content>
      <ion-row class="linea">
        <h1>Mi saldo:</h1><h1 class="plata">${{miCredito}}</h1>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row class="eliminar">
    <p style="margin: 0;
    font-size: large;text-shadow: 2px 2px 5px aqua; " (click)="eliminarSaldo()">Eliminar saldo</p>
  </ion-row>
  <div class="qr">
    <img  style="width: 80%;justify-content: center;" src="../../../assets/images/qr.png" alt="">
  </div>



</ion-content>


  <ion-button class="botonScan" (click)="scanear()"> <p class="txt_button"> <ion-icon name="qr-code-outline"></ion-icon> Cargar Crédito </p></ion-button>