<ion-header [translucent]="true" style="background-color: aqua;"> 
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row class="cabecera">
          <p style="margin: 0;">{{usuarioActual}}</p> <ion-button border-radius= "50px" class="imagen" color="secondary">{{user}}</ion-button>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id=content [fullscreen]="true" [scrollEvents]="true">
  
    <div class="mensaje" *ngFor="let item of mensajes">
      <!-- <p>{{item | json}}</p> -->
     <app-msj [mensajeEntrada]=(item) ></app-msj>
    </div> 

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="cabecera">
        <input class="entrada" minlength="1" (keydown.enter)="enviar()" maxlength="21" [(ngModel)]="mensajeNuevo" type="text" placeholder="Ingrese texto">
        <ion-button color="primary" (click)="enviar()">Enviar</ion-button>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <form [formGroup]="messageForm" (submit)="sendMessage()" (keydown.enter)="sendMessage()">
      <ion-input formControlName="message" type="text" placeholder="Enter your message"></ion-input>
      <ion-button type="submit">Send</ion-button>
  </form>
</ion-footer> -->