<ion-content no-padding no-margin>
  <div class="fondo">
  <ion-grid no-padding no-margin>
    <ion-row no-padding no-margin>
      <ion-col><img class="imagen" [class.selected]="this.idioma=='E'" (click)="seleccionaIdioma('E')" src="assets/banderas/argentina.png"></ion-col>
      <ion-col><img class="imagen" [class.selected]="this.idioma=='P'" (click)="seleccionaIdioma('P')" src="assets/banderas/brazil.png"></ion-col>
      <ion-col><img class="imagen" [class.selected]="this.idioma=='I'" (click)="seleccionaIdioma('I')" src="assets/banderas/estados_unidos.jpg"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding no-margin>
    <ion-row no-padding no-margin>
        <ion-col><img class="imagen" [class.selected]="this.tipo=='animales'" src='assets/animales/animales.jpg' (click)="seleccionaTipo('animales')"></ion-col>
        <ion-col><img class="imagen" [class.selected]="this.tipo=='colores'" src='assets/colores/colores.jpg' (click)="seleccionaTipo('colores')"></ion-col>
        <ion-col><img class="imagen" [class.selected]="this.tipo=='numeros'" src='assets/numeros/numeros.jpg' (click)="seleccionaTipo('numeros')"></ion-col>
    </ion-row>
  </ion-grid>
  <div class='costado'>
    <div class="dos">
    <ion-grid *ngIf="this.tipo=='animales'">
      <ion-row>
        <ion-col><img class="imagen" (click)="this.reproduceSonido('oveja')"
          src="assets/animales/oveja.jpg" alt=""></ion-col>
        <ion-col><img class="imagen" (click)="this.reproduceSonido('conejo')"
          src="assets/animales/conejo.jpg" alt=""></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="tres">

  <ion-grid *ngIf="this.tipo=='animales'">
    <ion-row>
      <ion-col><img class="imagen"  (click)="this.reproduceSonido('burro')"
        src="assets/animales/burro.jpg" alt=""></ion-col>
      <ion-col><img class="imagen"  (click)="this.reproduceSonido('perro')"
        src="assets/animales/perro.jpg" alt=""></ion-col>
      <ion-col><img class="imagen"  (click)="this.reproduceSonido('gato')"
        src="assets/animales/gato.jpg" alt=""></ion-col>
    </ion-row>
  </ion-grid>
</div>
  </div>
  <div class='costado'>

<div class="dos">
  <ion-grid *ngIf="this.tipo=='numeros'">
    <ion-row>
      <ion-col><img class="imagen"  (click)="this.reproduceSonido('uno')" src="assets/numeros/1.jpg"
        alt=""></ion-col>
      <ion-col><img class="imagen"  (click)="this.reproduceSonido('dos')" src="assets/numeros/2.jpg"
        alt=""></ion-col>

    </ion-row>
  </ion-grid>
  </div>
<div class="tres">
  <ion-grid *ngIf="this.tipo=='numeros'">
    <ion-row>
      <ion-col><img class="imagen"  (click)="this.reproduceSonido('tres')" src="assets/numeros/3.jpg"
        alt=""></ion-col>
      <ion-col><img class="imagen"  (click)="this.reproduceSonido('cuatro')"
        src="assets/numeros/4.jpg" alt=""></ion-col>
      <ion-col><img class="imagen"  (click)="this.reproduceSonido('cinco')"
        src="assets/numeros/5.jpg" alt=""></ion-col>

    </ion-row>
  </ion-grid>
  </div>
</div>
  <div class='costado'>

<div class="dos">
    <ion-grid *ngIf="this.tipo=='colores'">
      <ion-row>
        <ion-col><img class="imagen"  (click)="this.reproduceSonido('azul')"
          src="assets/colores/azul.png" alt=""></ion-col>
        <ion-col><img class="imagen"  (click)="this.reproduceSonido('verde')"
          src="assets/colores/verde.png" alt=""></ion-col>
      </ion-row>
    </ion-grid>
</div>
<div class="tres">
    <ion-grid *ngIf="this.tipo=='colores'">
      <ion-row>
        <ion-col><img class="imagen"  (click)="this.reproduceSonido('violeta')"
          src="assets/colores/violeta.png" alt=""></ion-col>
        <ion-col><img class="imagen"  (click)="this.reproduceSonido('rojo')"
          src="assets/colores/rojo.jpg" alt=""></ion-col>
        <ion-col><img class="imagen"  (click)="this.reproduceSonido('amarillo')"
          src="assets/colores/amarillo.png" alt=""></ion-col>
      </ion-row>
    </ion-grid>
</div>

  </div>
  </div>
  </ion-content>
